* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f6f8f9;
}

.logo-bar {
    padding: 12px 20px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 38px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
}

.button-row {
    padding-top: 14px;
    padding-left: 60px;
    padding-bottom: 8px;
}
.add-task-button {
    background-color: #47adf1;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
}

.add-section-button {
    background-color: white;
    color: #c5cbd0;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #c5cbd0;
}

.hr-grey{
    background-color: #f6f8f9;
    border: none;
    height: 2px;
}

.main-container {
    padding-left: 60px;
    padding-top: 30px;
}

section {
    margin-bottom: 30px;
}

.check {
    display: inline-block;
    border: #6bc4ae;
    border-style: solid;
    color: #6bc4ae;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-width: 1px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    margin-top: 12px;
}

.post {
    font-size: 16px;
    padding-left: 8px;
}

.color-box {
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    padding: 6px 12px;
}

.blue-box {
    background-color: #45abea;
}